@model grouptest.Models.Member

@{
    ViewData["Title"] = "Edit";
}

@section Stylesheets {
    <style type="text/css"> 
        h1{
            font-weight:bolder;
            font-family: poppin;
        }
        .main{
            text-align:center;
            
        }
    </style>
    
}

<div class="main">
    <h1 class="display-1">Edit Member</h1>

    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MemberNumber" />
                <div class="form-group ">
                    <label asp-for="MemberLastname" class="control-label"></label>
                    <input asp-for="MemberLastname" class="form-control" />
                    <span asp-validation-for="MemberLastname" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="MemberFirstname" class="control-label"></label>
                    <input asp-for="MemberFirstname" class="form-control" />
                    <span asp-validation-for="MemberFirstname" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="MemberAddress" class="control-label"></label>
                    <input asp-for="MemberAddress" class="form-control" />
                    <span asp-validation-for="MemberAddress" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="MemberDob" class="control-label"></label>
                    <input asp-for="MemberDob" class="form-control" />
                    <span asp-validation-for="MemberDob" class="text-danger"></span>
                </div>
            
                <div class="form-group mt-4">
                    <label asp-for="MembershipName" class="control-label"> Update Membership</label>
                    <select asp-for="MembershipName" class ="form-control" asp-items="ViewBag.MembershipName"></select>
                </div>
                <div class="form-group mt-4">
                    <label class="control-label">Taken Membership: </label>
                    <input asp-for="MembershipName" class="form-control" readonly="readonly"/>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index"><button class="btn bg-secondary text-light mt-4"><i class="bi bi-box-arrow-in-left"></i> Back to List</button></a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
