@model grouptest.Models.DvdCopy

@{
    ViewData["Title"] = "FunctionFive";
}

@section Stylesheets {
    <style type="text/css"> 
        h1{
            font-weight:bolder;
            font-family: poppin;
        }
        .main{
            text-align:center;    
        }
    </style>
    
}

<div class="main">
    <h1>Function Five</h1>

    <h4>Select the copy Number you like to see last loan for that copy</h4>
    <hr />
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="FunctionFive">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CopyNumber" class="control-label"></label>
                    <select asp-for="CopyNumber" class ="form-control" asp-items="ViewBag.CopyNumber"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
</div>
</div>


