@model grouptest.Models.CastMember

@{
    ViewData["Title"] = "Edit";
}

@section Stylesheets {
    <style type="text/css"> 
        h1{
            font-weight:bolder;
            font-family: poppin;
        }
        .main{
            text-align:center;
            
        }
    </style>
    
}

<div class="main">
    <h1 class="display-1">Edit CastMember</h1>


    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="ActorSurname" class="control-label"></label>
                    <select asp-for="ActorSurname" class="form-control" asp-items="ViewBag.ActorSurname"></select>
                    <span asp-validation-for="ActorSurname" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <label class="control-label">Current ActorSurname: </label>
                    <input asp-for="ActorSurname" class="form-control" readonly="readonly"/>
                </div>

                <div class="form-group mt-4">
                    <label asp-for="DvdTitleName" class="control-label"></label>
                    <select asp-for="DvdTitleName" class="form-control" asp-items="ViewBag.DvdTitleName"></select>
                    <span asp-validation-for="DvdTitleName" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <label class="control-label">Current DVDTitle: </label>
                    <input asp-for="DvdTitleName" class="form-control" readonly="readonly"/>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index"><button class="btn bg-secondary text-light mt-4"><i class="bi bi-box-arrow-in-left"></i> Back to List</button></a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
